<!DOCTYPE html>
<html>
    <head>
        <title>Wages Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Predicting Wage Level for Adults</h1>

        <p>
            Welcome to the Wage Prediction web application!! In this very simple application, we will give you the ability to predict
            the wage an adult may earn, based on certain socio-economic attributes. <br><br>
            
            The current working environment is charaterized by general wage stagnation, advent of the "Future of Work" in large enterprises, shrinking job pool due to the impact of technological innovations (via automation, robotics etc) and increase in the demand for highly skilled talent. 
            In such an environment, the earning capacity over the working life of any individual is determined by a number of factors such as age, education, general occupation, sex etc. In general, most individuals are curious to know what would be their earning capacity, given their education etc. 
            Although determining the exact range of earnings for an individual is extremely difficult, it is possible to determine whether an individual will fall over or under a given theshold.<br><br>
            
            In this project, the objective is to attempt to determine whether an individual will earn above or below a defined threshold based on several charateristics or factors that would determine earning capacity. For this dataset, we will consider the theshold to be around 50000 dollars.
            Hence, we will determine whether an individual will fall below (or be exactly at) the 50000 dollars earning capacity threshold or above the 50000 dollars (> 50000) earning capacity threshold.
            We will be using the "Adult" dataset, from the University of California Irvine's Machine Learning Repository, to conduct our analysis.<br><br>

            Please click on the button to begin!
        </p>

        <a href="predict.html" target="_blank">
            <button style="background-color: blue; color: white;">Predict Wages</button>
        </a>
    </body>
</html>