<!DOCTYPE html>
<html>
    <head>
        <title>Wages Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Predicting Wage Level for Adults</h1>

        <p>
            Welcome to the Wage Prediction web application!! In this very simple application, we will give you the ability to predict
            the wage an adult may earn, based on certain socio-economic attributes.

            Please click on the button to begin!
        </p>

        <a href="predict.html" target="_blank">
            <button style="background-color: blue; color: white;">Predict Wages</button>
        </a>
    </body>
</html>